html {
    line-height: 1.5;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variation-settings: normal;
    display: block;
}
body {
   background: #ffffff;
}
nav {
    border-width: 5px;
    border-style: solid;
    border-color: yellow;
    height: 40px;
}
header {
    border-width: 5px;
    border-style: solid;
    border-color: orchid;
    height: 250px;
}
/*h1 styling */
h1 {
    display: block;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.5rem;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}
/*h2 styling */
h2 {
    display: block;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
    margin-top: 0.75rem;
}
p {
    display: block;
    line-height: 1.5;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

/*socials styling */
.items-center {
    align-items: center;
}
.background {
    border-width: 5px;
    border-style: solid;
    border-color: rgb(39, 202, 121);
    height: 300px;
}
.projects {
    border-width: 5px;
    border-style: solid;
    border-color: rgb(22, 132, 146);
    height: 1500px;
}
footer {
    border-width: 5px;
    border-style: solid;
    border-color: rgb(207, 147, 16);
    height: 40px;
}
img {
    max-height: 600px;
    max-width: 600px;
}