html {
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variation-settings: normal;
}
* {
    box-sizing: border-box;
}

nav {       /*nav styling: transform on click */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0.5em;
    border: 1px solid yellow;
}
.navbar-brand {
    width: 80px;
    height: 80px;
    padding-top: 10px;
}
.checkbox {     /*toggle styling */
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #61A8AE;
    align-self: center;
    display: flex;
    border-radius: 50px;
    justify-content: space-between;
    padding: 5px;
    width: 50px;
    height: 26px;
    transform: scale(1.5);
    position: relative;
}
.label .ball {
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: #F5F3CE;
}
.fa-sun {
    color: #EDBE08;
}


h1 {    /*all typeface and text styling */
    font-family: "Special Elite", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
    line-height: 2.5rem;
    color: #1C4F62;    
}
.section-title {
    font-family: "Special Elite", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    font-style: normal;
    color: #1c4f62;
}
p {
    display: block;
    line-height: 1.5;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
a {
    text-decoration: none;
    color: #000;
}

header {    /*header + intro styling */
    height: 98vh;
    padding: 94px 304px;
    border: 1px solid orchid;
}
.intro-blurb .name {
    font-weight: 600;
    color: #1C4F62;
}
.intro-blurb {
    font-weight: 250;
    font-size: 2.5rem;
    max-width: 621px;
}

.left {     /*column styling */
    width: 40%;
}
.right {
    float: right;
    margin-top: -2vh;
    width: 60%;
}

ul {
    padding: 0;
    list-style: none;
    color: #000;
}
ul.internal-nav {
    margin-top: 3em;
    font-size: large;
}

.background {
    margin-bottom: 2em;
    max-width: 25vw;
    border: 1px solid green;
}
.projects {
    border-width: 5px;
    border-style: solid;
    border-color: rgb(22, 132, 146);
    height: 1500px;
}




footer {    /*footer styling */
    float: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 2em;
    border: 1px solid salmon
}
.acknowledgement {
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: smaller ;
}

.social-media {
    margin: auto;
}
.social-media a {
    font-size: 1.6em;
    text-decoration: none;
    width: auto;
    padding: 10px;
    color: #1c4f62;
}